html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header,  menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.left-sidebar{
    width:300px;
    float: left;
}
#new { width:300px; margin:auto; float: left}
section { padding:10px; border:2px solid #868585; margin-bottom:10px; background-color:#eaeaea; }
section:after { content:""; display:block; height:0; visibility:hidden; clear:both; }
h1, address, span, a, fieldset { margin:0; float:left; color:#555; font:bold 16px/18px Verdana, sans-serif; }
address, span, a, fieldset { clear:left; font-size:12px; font-weight:normal; }
img { float:right; }
.tools { width:100%; padding-top:10px; border-top:2px dotted #868585; margin-top:10px; float:left; clear:both; }
fieldset { padding:10px; border:2px solid #868585; float:none; clear:right; background-color:#eaeaea; }
label { display:block; margin-bottom:10px; clear:both; }
.details, .img { float:left; }
.details { width:250px; margin-right:56px; }
input { width:105px; float:right; }
.img input { margin-left:10px; }
fieldset button { clear:both; }
#people{
    width: 700px;
    float: right;
}
#paging { float:right; }
#paging ul { padding:0; margin:0; float:right; }
#paging li { margin-right:3px; float:left; list-style-type:none; }
#paging a:hover, #paging .on, #paging .disabled { color:#aeaeae; }
#paging .on { font-weight:bold; text-decoration:none; }
#paging .on, #paging .disabled { cursor:default; }
#paging .disabled { text-decoration:none; opacity:.5; }
#prev, #next, #first, #last { float:right; clear:none; }
#prev, #next, #first { margin-right:3px; }
#all { margin-right:10px; }
#pageSize { margin:-2px 10px 0 0; float:right; clear:none; color:#555; font:12px/18px Verdana, sans-serif; }
#pageSize input { width:30px; float:none; }

.description:hover::after {
    content: attr(data-title);
}
.description:hover::after {

    content: attr(data-title); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    left: 20%; top: 30%; /* Положение подсказки */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background: rgba(255,255,230,0.9); /* Полупрозрачный цвет фона */
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 11px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
    border: 1px solid #333; /* Параметры рамки */
}